body{
    background-color: rgb(240, 238, 238);
}

div{
    margin: 10px;
}

p{
    color: crimson;
}

h5{
    color: brown;
    margin: 5px 0;
}

span{
    font-size: 12px;
}

code{
    color: #FFF;
    background-color: #000;
    padding: 10px;
    display: block;
    margin: 5px 0;
}


code::before {
    content: " $ ";
    color: rgb(30, 253, 0);
}
img {
    width: 500px;
}