*{
  color: white;
  text-decoration: none;
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem ;
}

a {
  color : white;
  text-decoration: none;;
}

a:hover {
  color : white;
  text-decoration: none;;
}

body{
  background-image: url(../img/patron.jpg);
  background-size: 300px;
  background-attachment: fixed;
}

#menu-toggle{
  display: none;
}
#menu-check{
  display: none;
}

.container{
  width: 1080px;
  margin: 20px auto;
}

header{
  background-color: rgba(255,255,255, 0.3);
}

.container header {
  background-color: #363636;
  /*background-color: rgba(54, 54, 54, 0.5);*/
  position: fixed;
  padding: 10px;
  top: 15px;
  right: 0;
  left: 0;
  overflow: visible;
  z-index: 50;
}
.navigation{
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.navigation-ul{
  list-style-type: none;
  padding: 0;
}

.navigation-ul li{
   display: inline-block;
   padding: 10px;
   cursor: pointer;
   font-weight: bold;
   font-size: 16px;
}

.navigation-ul li:hover{
  box-sizing: border-box;
  background-color: #757575;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.derechos{
  float: right;
}

.izquierdos{
  float: left;
}

.li-logo{
  position: relative;
}

.logo{
  width: 100px;
  position: absolute;
  top: -30px;
  left: 0;
}

.menu-texto{
  margin-left: 100px;
}

.principal{
  margin-top: 100px;
  height: 4000px;
}

article{
  margin-bottom: 20px;
}

h2{
  font-size: 22px;
  margin-bottom: 10px;
}

#peliculas, #series{
  background-color: #252525;
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
}

.peliculas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.pelicula{
  position: relative;
  margin: 0 5px;
}

.pelicula img.peli-img{
  width: 100%;
}
.pelicula img.banderin{
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
}
.pelicula h3.peli-titulo{
  text-align: center;
  margin: 10px 0;
}

#bienvenida {
  color: bisque;
  font-size: 40px;
}



@media(max-width:768px){

  .li-logo{
    display: none;
  }

  #menu-toggle{
    display: inline-block;
  }
  .container{
    width: 100%;
  }
  .peliculas{
    grid-template-columns: 1fr 1fr;
  }

  #menu-toggle{
    float: right;
  }
  .img-menu{
    display: inline-block;
    font-size: 40px;
  }

  .navigation{
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 100vh;
  }
  .izquierdos{
    margin-top: 15px;
  }


  .derechos, .izquierdos{
    clear: both;
    float: right;
  }

  .logo{
    position: absolute;
    top: -60px;
    left: 0;
  }

  .navigation-ul{
    background-color: rgba(24,24,24,.9);
    width: 300px;
    text-align:right;
    display: block;
  }
  .container nav ul li{
    display: block;
  }
}

@media (max-width:420px){
  .peliculas{
    grid-template-columns: 1fr;
  }
}