*{
  color: white;
  text-decoration: none;
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body{
  background-image: url(../img/patron.jpg);
  background-size: 300px;
  background-attachment: fixed;
}


ul {
  margin: 0;
}

h2{
  font-size: 22px;
  margin-bottom: 10px;
  padding-left:10px;
  border-left: 3px solid rgb(245,197,54);
}

h3 {
  font-size: 1.2rem ;
}

a {
  color : white;
  text-decoration: none;;
}

a:hover {
  color : white;
  text-decoration: none;
}

#logo-mobile {
  display: none;
}

#menu-toggle{
  display: none;
}
#menu-check{
  display: none;
}

.container-site{
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 5px 0 5px;
}

header{
  background-color: rgba(255,255,255, 0.3);
}

.container-site header {
  background-color: #363636e5;
  /*background-color: rgba(54, 54, 54, 0.5);*/
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  left: 0;
  overflow: visible;
  z-index: 50;
}
.navigation{
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.navigation-ul{
  list-style-type: none;
  padding: 0;
}

.navigation-ul li{
   display: inline-block;
   padding: 3px;
   cursor: pointer;
   font-weight: bold;
   font-size: 16px;
}

.navigation-ul li:hover{
  box-sizing: border-box;
  background-color: #757575;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.navigation-ul li.li-logo:hover{
  padding-bottom: 3px;
  border-bottom: none;
}

.navigation-ul li.no-hover:hover{
  border:none;
  background: none;
  padding-bottom: 3px;
}

.derechos{
  float: right;
}

.izquierdos{
  float: left;
}

.logo{
  width: 60px;
}

.principal{
  margin-top: 79px;
}

article{
  margin-bottom: 20px;
}

h2{
  font-size: 22px;
  margin-bottom: 10px;
}

.black-section{
  background-color: #252525;
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
}

#div-login, #div-register{
  max-width: 500px;
  margin: 10px auto;
}

.separate-buttons{
  margin-top: 10px;
  margin-bottom: 10px;
}

.peliculas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.pelicula{
  font-size: 16px;
  background-color: #1a1a1a;
  padding: 2px;
  border-radius: 5px;
}

.pelicula .cont-imgs{
  position: relative;
  
}

.pelicula img.peli-img{
  width: 100%;
}
.pelicula img.banderin{
  position: absolute;
  top: 0;
  right: 10px;
  width: 35px;
}
.pelicula h3.peli-titulo{
  font-size: 16px;
  text-align: center;
}
.pelicula .rating {
  padding: 10px;
}

.pelicula .rating .text-rating{
  color: #bbbbbb;
}

.star-rating {
  color: rgb(245,197,54);
}

form.forms .fas{
  color: #495057;
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #bbbbbb;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-detail {
  border-left-color: rgb(245,197,54);
}

@media(max-width:768px){

  header{
    display: flex;
    justify-content: space-between;
  }

  .img-menu{
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
  }

  #logo-mobile {
    display: block;
  }
  #logo-mobile .logo {
    display: block;
  }

  #menu-toggle{
    display: inline-block;
  }
  .container-site{
    width: 100%;
  }
  .peliculas{
    grid-template-columns: 1fr 1fr;
  }

  #menu-toggle{
    float: right;
  }
  .img-menu{
    display: inline-block;
    width: 50px;
  }

  .navigation{
    position: absolute;
    top: 58px;
    right: 0;
    width: 100%;
  }
  .izquierdos{
    margin-top: 15px;
  }


  .derechos, .izquierdos{
    clear: both;
    float: right;
  }

  
  .navigation-ul{
    background-color: #363636e5;
    width: 300px;
    text-align:right;
    display: block;
  }

  .navigation-ul li.li-logo{
    display: none;
  }

  .container-site nav ul li{
    display: block;
  }
}

@media (max-width:480px){
  .peliculas{
    grid-template-columns: 1fr;
  }
}